In [1]:
from helpers import read_goodreads_data

MAIN_BOOKS_PATH = r'data/goodreads/goodreads_reviews/goodreads_reviews_dedup.json.gz'

# 1. Get a sample of books
sample_df = read_goodreads_data(
    MAIN_BOOKS_PATH, 
    return_sample=True, 
    sample_size=10000
)
print(f"Sample DataFrame shape: {sample_df.shape}")
sample_df.head()

Counting total records for sampling...

0it [00:00, ?it/s]

Sampling rate: 0.0006 (10000 of 15,739,967)

0it [00:00, ?it/s]

Creating DataFrame with 10,190 records...
Sample DataFrame shape: (10190, 11)

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,b54c83f02c748fe75ed309e1e12eace2,13490125,6805797820e382dcb41d4ac1e229f7f3,3,"""shr lbly@ l yDHk"" .. fDl twSyf llktb ljmyl ld...",Sat Sep 28 10:51:44 -0700 2013,Sat Sep 28 10:54:04 -0700 2013,,,1,0
1,40b795551cd5b1dae85ff2f7b8ddee27,160057,32b8c7c383fc7f65d7521150ada13b35,4,I remember getting this book from \n Weekly Re...,Thu Feb 25 15:33:09 -0800 2010,Thu Feb 25 15:47:15 -0800 2010,Fri Jan 01 00:00:00 -0800 1982,,0,0
2,753746d5d26fea030b33299b34ea1299,11859244,01fd1c6c732ce6673912555058e33fe4,3,Alex Flinn's Cloaked was a fun mashup of vario...,Sat Jun 29 07:18:01 -0700 2013,Sat Jun 29 07:22:03 -0700 2013,Thu Jun 27 00:00:00 -0700 2013,,0,0
3,5752e83b5c1ccdd8014aaf358b80c199,1019582,4e766fc70d41fbb14ce182a0dd6baa1d,4,"This was an awesome, information book about tr...",Sat Oct 17 15:13:08 -0700 2009,Sat Oct 17 15:16:01 -0700 2009,Sat Oct 17 00:00:00 -0700 2009,,0,0
4,8925c45517c467b47b99b0d2bd24d3d5,22838820,1107872d80b025dc1a97ec39be1fa6da,2,DNF 68% \n This book wasn't for me. It's label...,Sun Aug 03 18:30:07 -0700 2014,Wed Aug 13 20:49:55 -0700 2014,Mon Aug 11 00:00:00 -0700 2014,Sun Aug 10 00:00:00 -0700 2014,1,0